<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Asbest demo</title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body ng-app="asbest">
        <div id="navigation-container" ng-controller="mainNaviController">
            <button id="btn-main-menu" class="btn btn-default" type="button" ng-click="toggleMenu()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <nav id="navigation" ng-class="{'menu-open': menuOpen}">
                <div id="main-navi-head">
                    <h4>Arto</h4>
                </div>
                <div id="main-navi-content">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="separator" class="divider"></li>
                        <li ng-repeat= "project in projects">
                          <a href="#/project/{{project.name}}">{{project.name}}</a>
                          <ul class="nav nav-pills nav-stacked sub-menu">
                            <li ng-repeat="plan in project.floorplans">
                              <a href="#/project/{{project.name}}/{{plan.id}}"> {{plan.name}}</a>
                            </li>
                          </ul>
                        </li>
                    </ul>
                </div>
                <div id="main-navi-bottom">
                    <ul class="nav nav-pill nav-stacked">
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Isännöiitsijäntodistus</a></li>
                        <li><a href="#">Quotation</a></li>
                        <li><a href="#">Asuntotaulukko</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="main-container">
            <ng-view></ng-view>
        </div>
        <script src="js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>

        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

        <script src="app/js/app.js"></script>
        <script src="app/js/services/projectData.js"></script>
        <script src="app/js/directives/contextMenu.js"></script>
        <script src="app/js/controllers/mainNaviController.js"></script>
        <script src="app/js/controllers/projectsController.js"></script>
        <script src="app/js/controllers/projectDetailController.js"></script>
        <script src="app/js/controllers/workspaceController.js"></script>
    </body>
</html>