
body{
  position: relative;
  #main-container{
    height: 100vh;
  }
  ul{
    list-style: none;
  }
  #main-container{
    position: relative;
    overflow-x: hidden;
  }

  #top-navigation + div {
    margin-top: 70px !important;
  }
}


@media screen and (min-device-width: 768px){

}
