#btn-main-menu{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}
#navigation{
  position: absolute;
  top: 0;
  left: -340px;
  height: 100vh;
  width: 340px;
  z-index: 1000;
  background-color: white;
  border-right: 1px solid $gray-lighter;
  box-shadow: 2px 0 5px $gray-lighter;

  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateX(0px);

  &.menu-open{
    transform: translatex(340px);
  }

  .divider{
    height: 1px;
    background-color: #e2e2e2;
  }
}
#main-navi-head{
  padding-left: 90px;
  height: 80px;
  padding-top: 18px;
}
#main-navi-content{
  height: calc(100% - 230px);
  border-top: 1px solid $gray-lighter;
  ul.sub-menu{
    padding-left: 20px;
  }
}
#main-navi-bottom{
  border-top: 1px solid $gray-lighter;
}