.workspace{
  position: relative;
  #btn-back{
    position: absolute;
    left: 80px;
    top: 20px;
  }
}
.context-menu{
  width: 200px;
  position:absolute;
  display: none;
  .list-group-item{
    &:hover{
      background-color: #e2e2e2;
      cursor: pointer;
    }
  }
}