.workspace{
  position: relative;
}
.context-menu{
  width: 200px;
  position:absolute;
  display: none;
  .list-group-item{
    &:hover{
      background-color: #e2e2e2;
      cursor: pointer;
    }
  }
}