.workspace{
  position: relative;
  img{
    max-height: 100vh;
    max-width: 100vw;
  }
}
.context-menu{
  width: 200px;
  position:absolute;
  display: none;
  .list-group-item{
    &:hover{
      background-color: #e2e2e2;
      cursor: pointer;
    }
  }
}