<div class="container">
    <div class="row">
        <h1>Projects</h1>
    </div>
    <div>
        <ul class="row">
            <li class="col-md-3">
                <h3>Demo Project</h3>
                <div>
                    <div class="address">Visiokatu 3</div>
                    <div class="city">Tampere</div>
                    <div class="date">13/01/06</div>
                </div>
            </li>
            <li class="col-md-3">
                <h3>Renew hall</h3>
                <div>
                    <div class="address">Yliopistokatu 2</div>
                    <div class="city">Tampere</div>
                    <div class="date">13/01/06</div>
                </div>
            </li>
            <li class="col-md-3">
                <h3>Appartment investigation</h3>
                <div>
                    <div class="address">Hameenkatu 3</div>
                    <div class="city">Tampere</div>
                    <div class="date">13/01/06</div>
                </div>
            </li>
            <li class="col-md-3">
                <h3>Korkea koulu</h3>
                <div>
                    <div class="address">Kauppakatu 23</div>
                    <div class="city">Tampere</div>
                    <div class="date">13/01/06</div>
                </div>
            </li>
            <li class="col-md-3">
                <h3>Sports hall</h3>
                <div>
                    <div class="address">Aleksis Kiven katu 3</div>
                    <div class="city">Tampere</div>
                    <div class="date">13/01/06</div>
                </div>
            </li>
        </ul>
    </div>
</div>