<div class="container" ng-controller="projectsController">
    <div class="row">
        <h1 id="project-page-title">Projects</h1>
    </div>
    <div>
        <ul id="project-list" class="row">
            <li ng-repeat="project in projects" class="col-md-5">
                <a href="#/project/{{project.name}}" class="project-link">
                    <div class="project-thumbnail well">
                        <h3>{{project.name}}</h3>
                        <div>
                            <div class="address">{{project.address}}</div>
                            <div class="city">{{project.city}}</div>
                            <div class="date">{{project.date}}</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>