<div class="modal-header">
    <h3 class="modal-title"> <span class="glyphicon glyphicon-edit"></span> Observation </h3>
</div>
<div class="modal-body container-fluid">
    <div class="col-sm-6">
        <div class="actions">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-camera"></span> Take Photo</button>
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-picture"></span> External Photo</button>
        </div>
        <div id="photoContainer" class="row">
            <h4>Photos</h4>
            <div class="photoListContainer">
                <ul class="photolist item-list">
                    <li><span class="tile mockup-pic"></span></li>
                    <li><span class="tile mockup-pic"></span></li>
                    <li><span class="tile mockup-pic"></span></li>
                    <li><span class="tile mockup-pic"></span></li>
                    <li><span class="tile mockup-pic"></span></li>
                    <li><span class="tile glyphicon glyphicon-option-horizontal"></span></li>
                </ul>
            </div>
        </div>
        <div class="row form-container">
            <h4>Paikka</h4>
            <div class="">
                <form action="" class="form-inline">
                    <div class="form-group col-sm-6">
                        <label for="" >Rakennus</label>
                        <div>
                            <p class="form-control-static">Building 1</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Kerros</label>
                        <div>
                            <p class="form-control-static">1</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Huonesto Ja Huone </label>
                        <div>
                            <p class="form-control-static">Name of the appartment</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Paikka tilassa </label>
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row form-container">
            <h4>Tuote</h4>
            <div class="">
                <form action="" class="form-inline">
                    <div class="form-group col-sm-6">
                        <label for="" >Tuote</label>
                        <div>
                            <p class="form-control-static">Select from right</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Määrä</label>
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row form-container">
            <h4>Näyte</h4>
            <div class="">
                <form action="" class="form-inline">
                    <div class="form-group col-sm-6">
                        <label for="" >Tutkimus</label>
                        <div>
                            <p class="form-control-static">Select from right</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Näyteen tyyppi</label>
                        <div>
                            <p class="form-control-static">From where the picture is taken</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Näyte Numero</label>
                        <div>
                            <p class="form-control-static">1</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="">Lisätiedot </label>
                        <input type="text-area" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="inputArea">
        <div id="top-content" class="row">
            <h4>Recently used items</h4>
            <div class="col-sm-12">
                <ul class="item-list">

                </ul>
            </div>
        </div>
        <div class="row" id="main-content">
            <h4>All items</h4>
            <div class="col-sm-12">
                <ul class="item-list">
                    <li ng-repeat="item in items">
                    <button class="btn-default">{{item}}</button></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="btn-ok" class="btn btn-primary" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> OK</button>
    <button id="btn-cancel" class="btn btn-warning" type="button" ng-click="cancel()"> cancel </button>
</div>