<div class="container">
<div class="row">
    <h1>{{project.name}}</h1>
</div>
<div class="row">
    <h2>Floor Plans</h2>
    <ul id="floorplans">
        <li class="col-md-3" ng-repeat="plan in project.floorplans">
            <a href="#/project/{{project.name}}/{{plan.id}}">
                <div class="floorplan-thumbnali well">
                    <img src="app/images/{{plan.image}}" alt="floorplan"></img>
                </div>
                <div>{{plan.name}}</div>
            </a>
        </li>
    </ul>
</div>
</div>