<div class="workspace">
  <div class="container-fluid">
      <div id="floorplan" >
        <div class="toolbar">
          <a href="#/project/{{projectId}}">
            <button id="btn-back" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span></button>
          </a>
        </div>
        <div class="image-full">
          <img src="app/images/{{floorplan.imagePath}}" ng-click="onClickImage($event)"></img>
        </div>

      </div>
  </div>
  <div class="context-menu">
    <ul class="list-group">
      <li class="list-group-item" ng-click="onInspection()">Inspection</li>
      <li class="list-group-item" ng-click="onSample()">Sample</li>
    </ul>
  </div>
</div>

<div id="poi_setting" ng-controller="modelInspectionController">
  <div class="modal-header">
      <h3 class="modal-title"> <span class="glyphicon glyphicon-edit"></span> Observation </h3>
  </div>
  <div class="modal-body container-fluid" ng-controller="modelInspectionController">
      <div class="col-sm-6">
          <div class="actions">
              <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-camera"></span> Take Photo</button>
              <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-picture"></span> External Photo
              </button>
          </div>
          <div id="photoContainer" class="row">
              <h5>Photos</h5>
              <div class="photoListContainer">
                  <ul class="photolist item-list">
                      <li><span class="tile mockup-pic"></span></li>
                      <li><span class="tile mockup-pic"></span></li>
                      <li><span class="tile mockup-pic"></span></li>
                      <li><span class="tile mockup-pic"></span></li>
                      <li><span class="tile mockup-pic"></span></li>
                      <li><span class="tile glyphicon glyphicon-option-horizontal"></span></li>
                  </ul>
              </div>
          </div>
          <div class="noteContainer" class="row">
              <form action="">
                  <div class="form-group">
                      <label for="noteInput">Free note</label>
                      <input type="text-area" id="noteInput" class="form-control">
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button id="btn-ok" class="btn btn-primary" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> OK</button>
      <button id="btn-cancel" class="btn btn-warning" type="button" ng-click="cancel()"> cancel </button>
  </div>
</div>