<div class="workspace">
  <div class="container-fluid">
      <div id="floorplan" >
        <div class="toolbar">
          <a href="#/project/{{projectId}}">
            <button id="btn-back" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span></button>
          </a>
        </div>
        <div class="image-full">
          <img src="app/images/{{floorplan.imagePath}}" ng-click="onClickImage($event)"></img>
        </div>

      </div>
  </div>
  <div class="context-menu">
    <ul class="list-group">
      <li class="list-group-item" ng-click="onInspection()">Inspection</li>
      <li class="list-group-item" ng-click= "onSample()">Sample</li>
    </ul>
  </div>
</div>